@import "tailwindcss";

:root {
  --font-title: "Roboto Slab", serif;
  --font-body: "Inter", sans-serif;
}

h1,
h2,
a,
button,
.logo-heading {
  font-family: var(--font-title);
  letter-spacing: 0.1em;
}

body,
span,
p,
li {
  font-family: var(--font-body);
  line-height: 1.6;
  color: #333;
}

.nav-blur {
  animation: blur linear both;
  animation-timeline: scroll();
  animation-range: 0 1000px;
}

@keyframes blur {
  to {
    box-shadow: 0 2px 20px rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
  }
}
